:root {
  --grey-1: #212429;
  --grey-2: #353942;
  --grey-3: #495058;
  --grey-4: #878e96;
  --grey-5: #5c677b;
  --grey-6: #cfd3dc;
  --grey-7: #dee1e6;
  --grey-8: #e8ecef;
  --grey-9: #f2f3f5;
  --grey-10: #f8f9fb;

  --blue-1: #12273c;
  --blue-2: #1a4a72;
  --blue-3: #2368a3;
  --blue-4: #3083c7;
  --blue-5: #63a2d8;
  --blue-6: #a9d4f6;
  --blue-7: #f0f7ff;

  --green-1: #134544;
  --green-2: #1c655e;
  --green-3: #299186;
  --green-4: #3caea4;
  --green-5: #6ed7d3;
  --green-6: #a8efeb;
  --green-7: #e7ffff;

  --yellow-1: #5c4813;
  --yellow-2: #8d6c1f;
  --yellow-3: #caa53d;
  --yellow-4: #f4ca64;
  --yellow-5: #fae39f;
  --yellow-6: #fdf4d7;
  --yellow-7: #fffcf5;

  --pink-3: #ca3dbe;
  --pink-4: #da64f4;
  --pink-5: hsl(289, 90%, 80%);

  --red-1: #601819;
  --red-2: #891b1a;
  --red-3: #b91f1f;
  --red-4: #dc3030;
  --red-5: #e46463;
  --red-6: #f4aaa9;
  --red-7: #fce8e9;

  --fs-02: 12px;
  --fs-01: 14px;
  --fs-1: 16px;
  --fs-2: 18px;
  --fs-3: 20px;
  --fs-5: 24px;
  --fs-6: 30px;
  --fs-7: 36px;
  --fs-8: 48px;
  --fs-9: 60px;
  --fs-10: 72px;

  --s-05: 4px;
  --s-04: 6px;
  --s-03: 8px;
  --s-02: 12px;
  --s-01: 14px;
  --s-1: 16px;
  --s-2: 24px;
  --s-3: 32px;
  --s-4: 48px;
  --s-5: 64px;
  --s-6: 96px;
  --s-7: 128px;
  --s-8: 192px;
  --s-9: 256px;
  --s-10: 384px;
  --s-11: 512px;
}
